<h1 class="titleBlog">Blogs </h1>

<% readBlog.forEach(post =>{ %>
    <div class="postCard">
        <div class="postDetails">
            <h3 class="postH3"><%= post.title %></h3>
            <p><%= post.author %></p>
            <p><%= post.createdAt %></p>
        </div>
        <div class="btns">
            <form action="/update" method="post">
                <input type="hidden" name="id" value=<%= post.id %>  >
                <button class="red" name="btn" type="submit" >edit</button>
            </form>
            
            <form action="/delete/<%= post.id %>" method="post">
                <button class="red" name="btn" type="submit" >Delete</button>
            </form>
        </div>
    </div>

    <%  }) %> 